<app-main 
[today] ="weatherData?.current?.time"
[currentTemperature]="weatherData?.current?.temperature_2m" 
[isDay]="weatherData?.current?.is_day"
[position]="position"
[weaterCodeApi]="weatherData?.current?.weather_code"
>
</app-main>

<app-temperature 
[MaxTemp]="weatherData?.daily?.temperature_2m_max[0]" 
[MinTemp]="weatherData?.daily?.temperature_2m_min[0]"
></app-temperature>

<app-rain
[rainHourly]="weatherData?.hourly?.rain"
[cloudCover]="weatherData?.current?.cloud_cover"
[humidity]="weatherData?.current?.relative_humidity_2m"
[windSpeed]="weatherData?.current?.wind_speed_10m"
[windDirection]="weatherData?.current?.wind_direction_10m"
[rain]="weatherData?.current?.rain"
[precipitation]="weatherData?.current?.precipitation"
></app-rain>